#leftgod {
    text-align: left;
    margin-left: 30px;
    margin-top: -50px;
    transition-delay: 1s;
    transition-duration: 2s;
    transition-timing-function: ease;
}

#rightgod {
    text-align: right;
    margin-top: -198px;
    margin-right: -5px;
    transition-delay: 1s;
    transition-duration: 2s;
    transition-timing-function: ease;
}

body {
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
    background-size: cover;
}

#egypt {
    text-align: center;
    margin-top: -158px;
    margin-right: 28px;
}

.animated {
    transform: rotateY(150deg);
}

.navbar {
    background-image: url(../image/black\ wall.jpg);
}

.navbar:hover {
    background-image: url(..//image/egypt-abydos-temple-of-osiris3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    font-weight: 1000;
}

#firsttopic {
    text-align: justify;
    float: right;
    max-width: 100%;
    padding-top: 15px;
    font-size: 1.1em;
}

#back {
    background-color: #f0eaea;
    padding-left: 8px;
    padding-right: 8px;
}

#carousel {
    max-width: 100%;
    float: left;
    text-align: left;
    padding-top: 15px;
    padding-right: 15px;
}


/* OUTER CONTAINER */

.tcontainer {
    width: 100%;
    overflow: hidden;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 5px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    /* Hide scroll bar */
}


/* MIDDLE CONTAINER */

.ticker-wrap {
    width: 100%;
    padding-left: 100%;
    /* Push contents to right side of screen */
    background-image: url(../image/Ancient\ wall.png)
}


/* INNER CONTAINER */

@keyframes ticker {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-move {
    /* Basically move items from right side of screen to left in infinite loop */
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 20s;
}

.ticker-move:hover {
    animation-play-state: paused;
    /* Pause scroll on mouse hover */
}


/* ITEMS */

.ticker-item {
    display: inline-block;
    /* Lay items in a horizontal line */
    padding: 0 2rem;
    font-weight: 1000;
    font-size: 1.3em;
    color: white;
}

#hello {
    text-align: center;
    font-weight: 1000;
    font-size: 1.4em;
    background-image: url(../image/Ramesses_4-Egypt-Jakub-Kyncl-large1.jpg);
    color: white;
    height: 30px;
}

#foot {
    background-image: url(../image/desert1.jpg);
    text-align: center;
    color: black;
    height: 50px;
    padding-top: 10px;
    font-size: 1.1em;
}

#copy {
    color: white;
}

#map {
    color: rgb(247, 243, 11);
}

a {
    text-decoration: none;
}

#description {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(248, 248, 255, 0.226);
}

#information {
    text-align: justify;
    color: white;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}

#title {
    color: black;
}